<main class="main">
  <section class="main-head-wrapper">
    <h1 class="main-head">
      <span>CHOOSE YOUR</span>
      <strong>CHAMPION</strong>
    </h1>
    <p class="main-head-description">
      With more than 140 champions, you’ll find the perfect match for your playstyle. Master one, or master them
      all.
    </p>
  </section>
  <section class="main-nav-wrapper">
    <nav class="main-nav">
      <div class="main-nav-inner">
        <div class="canvas-wrapper">
          <canvas class="main-nav-canvas" id="main-nav-canvas"></canvas>
        </div>
        <div class="main-nav-content">
          <div class="search-container">
            <div class="search-wrapper">
              <div class="search">
                <div class="search-value">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.69 15.69"
                    class="value-container-loupe__LoupeIcon-sc-1hpvr1c-0-SvgLoupe gKqvNU">
                    <path class="st0"
                      d="M6.46 1.5c2.74 0 4.96 2.23 4.96 4.96s-2.23 4.96-4.96 4.96S1.5 9.2 1.5 6.46 3.73 1.5 6.46 1.5m0-1.5C2.89 0 0 2.89 0 6.46s2.89 6.46 6.46 6.46 6.46-2.89 6.46-6.46C12.93 2.89 10.03 0 6.46 0z">
                    </path>
                    <path class="st1" d="M10.25 10.26l4.89 4.89"></path>
                  </svg>
                  <input type="text" placeholder="Search">
                </div>
              </div>
            </div>
          </div>
          <div class="role-container">
            <ul class="role-list">
              <li>
                <button class="role-btn role-active">All</button>
              </li>
              <li>
                <button class="role-btn">Assasins</button>
              </li>
              <li>
                <button class="role-btn">Fighters</button>
              </li>
              <li>
                <button class="role-btn">Mages</button>
              </li>
              <li>
                <button class="role-btn">Marksmen</button>
              </li>
              <li>
                <button class="role-btn">Supports</button>
              </li>
              <li>
                <button class="role-btn">Tanks</button>
              </li>
            </ul>
          </div>
          <div class="difficalty-container">
            <div class="difficalty-wrapper">
              <div class="difficalty">
                <div class="difficalty-value">
                  <div class="difficalty-placeholder">
                    All difficalties
                  </div>
                  <div class="difficalty-single-value">
                    <div class="difficalty-single-value-container">
                      <span class="difficalty-value-wrapper">
                        <span class="difficalty-value-container">
                          <span class="difficalty-value-item"></span>
                          <span class="difficalty-value-item"></span>
                          <span class="difficalty-value-item"></span>
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="difficalty-dropdown-content">
                  <div class="difficalty-single-value-container">
                    <span class="difficalty-value-wrapper">
                      <span class="difficalty-value-container">
                        <span class="difficalty-value-item"></span>
                        <span class="difficalty-value-item difficalty-value-item-empty"></span>
                        <span class="difficalty-value-item difficalty-value-item-empty"></span>
                      </span>
                    </span>
                  </div>
                  <div class="difficalty-single-value-container">
                    <span class="difficalty-value-wrapper">
                      <span class="difficalty-value-container">
                        <span class="difficalty-value-item"></span>
                        <span class="difficalty-value-item"></span>
                        <span class="difficalty-value-item difficalty-value-item-empty"></span>
                      </span>
                    </span>
                  </div>
                  <div class="difficalty-single-value-container">
                    <span class="difficalty-value-wrapper">
                      <span class="difficalty-value-container">
                        <span class="difficalty-value-item"></span>
                        <span class="difficalty-value-item"></span>
                        <span class="difficalty-value-item"></span>
                      </span>
                    </span>
                  </div>
                </div>
                <div class="difficalty-indicators">
                  <div class="difficalty-indicator-clear">
                    <svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true" focusable="false"
                      class="css-19bqh2r">
                      <path
                        d="M14.348 14.849c-0.469 0.469-1.229 0.469-1.697 0l-2.651-3.030-2.651 3.029c-0.469 0.469-1.229 0.469-1.697 0-0.469-0.469-0.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-0.469-0.469-0.469-1.228 0-1.697s1.228-0.469 1.697 0l2.652 3.031 2.651-3.031c0.469-0.469 1.228-0.469 1.697 0s0.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c0.469 0.469 0.469 1.229 0 1.698z">
                      </path>
                    </svg>
                  </div>
                  <div class="difficalty-indicator-arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.69 4.69"
                      class="dropdown-indicator-arrow__ArrowIcon-xoben1-0-SvgArrowDown eydvhD">
                      <path class="st0" d="M.35.37l4 3.64 4-3.64"></path>
                      <path class="st1" d="M2.75.01l1.6 1.45L5.95.01z"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </section>
  <section class="main-champions-list">
    <div class="champions-list-message">
      No champions match the filter criteria.
    </div>
    <div class="champions-list"></div>
  </section>
</main>