@font-face {
  font-family: 'Beaufort for LOL';
  src: url('../../public/fonts/BeaufortforLOL-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'BeaufortforLOL-Bold';
  src: url('../../public/fonts/BeaufortforLOL-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Beaufort for LOL';
  src: url('../../public/fonts/BeaufortforLOL-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BeaufortforLOL-Regular';
  src: url('../../public/fonts/BeaufortforLOL-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Beaufort for LOL';
  src: url('../../public/fonts/BeaufortforLOL-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'BeaufortforLOL-BoldItalic';
  src: url('../../public/fonts/BeaufortforLOL-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Beaufort for LOL';
  src: url('../../public/fonts/BeaufortforLOL-HeavyItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'BeaufortforLOL-HeavyItalic';
  src: url('../../public/fonts/BeaufortforLOL-HeavyItalic.woff') format('woff');
}

@font-face {
  font-family: 'Spiegel';
  src: url('../../public/fonts/Spiegel-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Spiegel-SemiBold';
  src: url('../../public/fonts/Spiegel-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Spiegel';
  src: url('../../public/fonts/Spiegel-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Spiegel-Regular';
  src: url('../../public/fonts/Spiegel-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Spiegel';
  src: url('../../public/fonts/Spiegel-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Spiegel-Bold';
  src: url('../../public/fonts/Spiegel-Bold.woff') format('woff');
}

@font-face {
  font-family: 'FF Mark W05';
  src: url('../../public/fonts/MarkPro-Regular.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FF Mark W05';
  src: url('../../public/fonts/MarkPro-Medium.woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FF Mark W05';
  src: url('../../public/fonts/MarkPro-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
