.overview {
  position: relative;
  min-height: 75vh;
  padding: 30px 0 75px;
  background: rgb(0, 9, 19);
}

.background-asset {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 80vh;
  max-height: 800px;
  overflow: hidden;
}

.background-image-container {
  position: absolute;
  left: -5%;
  top: -5%;
  width: 110%;
  height: 110%;
}

.background-image-container::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10%;
  width: 100%;
  height: 50%;
  background: linear-gradient(transparent, rgb(0, 9, 19) 70%);
}

.background-image {
  display: block;
  width: 100%;
  height: 100%;
  filter: blur(8px);
  object-fit: cover;
  object-position: center 20%;
  opacity: 0.3;
}

.wrapper-section {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 31%;
}

.wrapper-section::after {
  display: block;
  content: "";
  width: 60px;
  flex: 0 0 auto;
}

.section-title {
  position: relative;
  width: 60px;
  flex: 0 0 auto;
}

.title-text-container {
  z-index: 10;
  position: relative;
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
}

.title-text {
  padding-top: 100%;
  transform: rotate(-90deg) translate(-100%, -50%);
  transform-origin: left top;
  white-space: nowrap;
  color: rgb(255, 255, 255);
  font-size: 0.625rem;
  letter-spacing: 0.25em;
  font-weight: bold;
  text-transform: uppercase;
}

.title-text::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1.4em;
  height: 1px;
  margin-left: 0.5em;
  background-color: currentColor;
}

.section-content {
  flex: 1 1 100%;
  min-width: 0;
}

.section-inner {
  max-width: 1335px;
  padding: 0 3.75rem;
  margin: 0 auto;
}

.foreground-asset {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 59.01%;
  mask-image: linear-gradient(rgb(0, 0, 0) 65%, rgba(0, 0, 0, 0) 98%);
  -webkit-mask-image: linear-gradient(rgb(0, 0, 0) 65%, rgba(0, 0, 0, 0) 98%);
}

.section-inner-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 20%;
}

.wrapper-details {
  position: relative;
  margin: -5.625rem 3.75rem 0;
}

.details-container {
  position: absolute;
  inset: 1px;
  pointer-events: none;
}

.champion-title-canvas {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.wrapper-details-name {
  position: relative;
  top: -5rem;
  margin-bottom: -5rem;
}

.details-name-container {
  position: relative;
  z-index: 1;
  text-align: center;
  color: rgb(255, 255, 255);
}

.info-container {
  position: relative;
  display: flex;
}

.info-specs {
  width: 50%;
  padding: 3.75rem;
}

.specs-list {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.specs-item {
  font-size: 0.625rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-align: center;
}

.specs-item-icon {
  width: 50px;
  height: 50px;
  position: relative;
  margin: 0 auto;
}

.specs-item svg {
  box-sizing: content-box;
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 36px;
  padding: 7px;
  fill: $sand;
}

.specs-item-type {
  width: 100%;
  margin-top: 0.9375rem;
  color: rgb(255, 255, 255);
}

.specs-item-value {
  width: 100%;
  margin-top: 0.125rem;
  color: $sand;
  font-weight: normal;
}

.difficalty-icon-value-wrapper {
  display: block;
  width: 50px;
  position: absolute;
  top: 20px;
  height: 10px;
  max-width: 100%;
}

.difficalty-icon-value-container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 8% 0 5%;
  white-space: nowrap;
}

// .difficalty-icon-value-item {
//   box-sizing: content-box;
//   display: inline-block;
//   width: 30.6667%;
//   height: 100%;
//   padding-right: 4%;
//   opacity: 1;
//   background-color: rgb(8, 215, 247);
//   background-clip: content-box;
//   transform: skewX(-40deg);
// }

// .difficalty-icon-value-item:last-child {
//   padding-right: 0;
// }

// .difficalty-value-item-empty {
//   box-sizing: content-box;
//   display: inline-block;
//   width: 30.6667%;
//   height: 100%;
//   padding-right: 4%;
//   opacity: 0.2;
//   background-color: rgb(8, 215, 247);
//   background-clip: content-box;
//   transform: skewX(-40deg);
// }

// .difficalty-icon-value-item-empty:last-child {
//   padding-right: 0;
// }

.info-divider {
  width: 1px;
  margin: 2.5rem 0;
  background: rgba(255, 255, 255, 0.2);
}

.info-desc {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 3.75rem;
}

.info-desc p {
  max-width: 100%;
  color: rgb(255, 255, 255);
  font-size: 0.875rem;
  line-height: 1.28571;
  letter-spacing: 0.08em;
}

.info-desc p button {
  padding: 0;
  border: 0;
  background-color: transparent;
  color: $sand;
  font-size: 0.625rem;
  text-transform: uppercase;
}

.wrapper-links-info {
  position: relative;
  width: 100%;
}

.wrapper-links-info::before {
  content: "";
  position: absolute;
  left: 1px;
  top: -1px;
  width: calc(100% - 2px);
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
}

.links-info-container {
  // box-sizing: border-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 0.875rem 3.75rem;
  white-space: nowrap;
}

.links-info-label {
  margin: 0 1.25rem;
  color: rgb(93, 97, 102);
  font-size: 0.625rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.links-info-list {
  display: flex;
}

.info-list-item {
  margin: 0 1.25rem;
  font-size: 0.625rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.info-list-link {
  color: rgb(255, 255, 255);
}

.info-list-link:hover {
  text-decoration: underline;
}

.champions-button-container {
  position: absolute;
  top: 40px;
  right: 30px;
}

.wrap-champions-button-canvas {
  position: absolute;
  inset: 1px;
  pointer-events: none;
}

.champions-button-canvas {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.champions-button {
  position: relative;
  display: block;
  height: 100%;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  background-color: transparent;
}

.champions-button-text {
  vertical-align: middle;
  padding-right: 10px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.16em;
  line-height: 1;
  text-align: left;
}

.champions-button svg {
  fill: rgb(255, 255, 255);
  height: 14px;
  width: 14px;
  vertical-align: middle;
}

.champion-page-scroll {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  stroke: rgb(57, 64, 72);
}
