.footer-content {
  background-color: $black;
  padding: 0px 0px 48px 0px;
  border-top: 2px solid #343434;
}

.footer-links {
  padding: 24px;
  font-size: 13px;
  font-weight: 700;
  background-color: $gray;
}

.footer-links ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-links a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: $white;
  text-transform: uppercase;
  transition: all 0.2s linear;
}

.footer-links a:hover {
  background-color: $dark;
  border-radius: 6.4px;
}

.footer-social-links {
  padding: 18px 0;
}

.footer-social-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-links li {
  background-color: $gray;
  margin: 6px;
  width: 32px;
  height: 32px;
  border-radius: 12px;
}

.footer-social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer-social-links svg {
  width: 16px;
  height: 16px;
  fill: $white;
  fill-rule: evenodd;
}

.footer-logos {
  display: flex;
  justify-content: center;
  padding: 24px 0px 20px;
}

.footer-logos svg {
  fill: #737373;
}

.footer-logos svg:hover {
  fill: $white;
}

.footer-copyright {
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  color: #7e7e7e;
}

.footer-legal-links {
  padding: 24px 0px 28px;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.08em;
  text-align: center;
  text-transform: uppercase;
}

.footer-legal-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-legal-links a {
  display: block;
  padding: 8px 16px;
  color: $white;
  transition: all 0.2s linear;
}

.footer-legal-links a:hover {
  background-color: $dark;
  border-radius: 6.4px;
}

.footer-game-ratings {
  display: flex;
  justify-content: center;
}

.footer-game-rating {
  padding: 12px 12px;
  background: #292929;
  border-radius: 8px;
}

.footer-game-rating-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-game-rating-text-wrapper img {
  display: block;
}

.footer-game-rating-text {
  color: $white;
  margin-left: 12px;
  font-size: 13px;
  font-weight: 600;
  line-height: 150%;
}
