@font-face {
  font-family: 'Beaufort for LOL';
  src: url('./BeaufortforLOL-Bold.eot?#iefix');
  src: url('./BeaufortforLOL-Bold.eot?#iefix') format('eot'),
    url('./BeaufortforLOL-Bold.woff') format('woff'),
    url('./BeaufortforLOL-Bold.ttf') format('truetype'),
    url('./BeaufortforLOL-Bold.svg#') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'BeaufortforLOL-Bold';
  src: url('./BeaufortforLOL-Bold.eot?#iefix');
  src: url('./BeaufortforLOL-Bold.eot?#iefix') format('eot'),
    url('./BeaufortforLOL-Bold.woff') format('woff'),
    url('./BeaufortforLOL-Bold.ttf') format('truetype'),
    url('./BeaufortforLOL-Bold.svg#') format('svg');
}

@font-face {
  font-family: 'Beaufort for LOL';
  src: url('./BeaufortforLOL-Regular.eot?#iefix');
  src: url('./BeaufortforLOL-Regular.eot?#iefix') format('eot'),
    url('./BeaufortforLOL-Regular.woff') format('woff'),
    url('./BeaufortforLOL-Regular.ttf') format('truetype'),
    url('./BeaufortforLOL-Regular.svg#') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BeaufortforLOL-Regular';
  src: url('./BeaufortforLOL-Regular.eot?#iefix');
  src: url('./BeaufortforLOL-Regular.eot?#iefix') format('eot'),
    url('./BeaufortforLOL-Regular.woff') format('woff'),
    url('./BeaufortforLOL-Regular.ttf') format('truetype'),
    url('./BeaufortforLOL-Regular.svg#') format('svg');
}

@font-face {
  font-family: 'Beaufort for LOL';
  src: url('./BeaufortforLOL-BoldItalic.eot?#iefix');
  src: url('./BeaufortforLOL-BoldItalic.eot?#iefix') format('eot'),
    url('./BeaufortforLOL-BoldItalic.woff') format('woff'),
    url('./BeaufortforLOL-BoldItalic.ttf') format('truetype'),
    url('./BeaufortforLOL-BoldItalic.svg#') format('svg');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'BeaufortforLOL-BoldItalic';
  src: url('./BeaufortforLOL-BoldItalic.eot?#iefix');
  src: url('./BeaufortforLOL-BoldItalic.eot?#iefix') format('eot'),
    url('./BeaufortforLOL-BoldItalic.woff') format('woff'),
    url('./BeaufortforLOL-BoldItalic.ttf') format('truetype'),
    url('./BeaufortforLOL-BoldItalic.svg#') format('svg');
}

@font-face {
  font-family: 'Beaufort for LOL';
  src: url('./BeaufortforLOL-HeavyItalic.eot?#iefix');
  src: url('./BeaufortforLOL-HeavyItalic.eot?#iefix') format('eot'),
    url('./BeaufortforLOL-HeavyItalic.woff') format('woff'),
    url('./BeaufortforLOL-HeavyItalic.ttf') format('truetype'),
    url('./BeaufortforLOL-HeavyItalic.svg#') format('svg');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'BeaufortforLOL-HeavyItalic';
  src: url('./BeaufortforLOL-HeavyItalic.eot?#iefix');
  src: url('./BeaufortforLOL-HeavyItalic.eot?#iefix') format('eot'),
    url('./BeaufortforLOL-HeavyItalic.woff') format('woff'),
    url('./BeaufortforLOL-HeavyItalic.ttf') format('truetype'),
    url('./BeaufortforLOL-HeavyItalic.svg#') format('svg');
}

@font-face {
  font-family: 'Spiegel';
  src: url('./Spiegel-SemiBold.eot?#iefix');
  src: url('./Spiegel-SemiBold.eot?#iefix') format('eot'),
    url('./Spiegel-SemiBold.woff') format('woff'),
    url('./Spiegel-SemiBold.ttf') format('truetype'),
    url('./Spiegel-SemiBold.svg#') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Spiegel-SemiBold';
  src: url('./Spiegel-SemiBold.eot?#iefix');
  src: url('./Spiegel-SemiBold.eot?#iefix') format('eot'),
    url('./Spiegel-SemiBold.woff') format('woff'),
    url('./Spiegel-SemiBold.ttf') format('truetype'),
    url('./Spiegel-SemiBold.svg#') format('svg');
}

@font-face {
  font-family: 'Spiegel';
  src: url('./Spiegel-Regular.eot?#iefix');
  src: url('./Spiegel-Regular.eot?#iefix') format('eot'),
    url('./Spiegel-Regular.woff') format('woff'),
    url('./Spiegel-Regular.ttf') format('truetype'),
    url('./Spiegel-Regular.svg#') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Spiegel-Regular';
  src: url('./Spiegel-Regular.eot?#iefix');
  src: url('./Spiegel-Regular.eot?#iefix') format('eot'),
    url('./Spiegel-Regular.woff') format('woff'),
    url('./Spiegel-Regular.ttf') format('truetype'),
    url('./Spiegel-Regular.svg#') format('svg');
}

@font-face {
  font-family: 'Spiegel';
  src: url('./Spiegel-Bold.eot?#iefix');
  src: url('./Spiegel-Bold.eot?#iefix') format('eot'),
    url('./Spiegel-Bold.woff') format('woff'),
    url('./Spiegel-Bold.ttf') format('truetype'),
    url('./Spiegel-Bold.svg#') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Spiegel-Bold';
  src: url('./Spiegel-Bold.eot?#iefix');
  src: url('./Spiegel-Bold.eot?#iefix') format('eot'),
    url('./Spiegel-Bold.woff') format('woff'),
    url('./Spiegel-Bold.ttf') format('truetype'),
    url('./Spiegel-Bold.svg#') format('svg');
}

@font-face {
  font-family: 'FF Mark W05';
  src: url('./8a533745-7bc5-4dcd-8552-d9952208de6f.eot?#iefix');
  src: url('./8a533745-7bc5-4dcd-8552-d9952208de6f.eot?#iefix') format('eot'),
    url('./ffbb4591-1a9c-443b-9b6e-6ceb6a3ca76b.woff2') format('woff2'),
    url('./e44c8656-a389-4ecb-838c-3c135565d6b3.woff') format('woff'),
    url('./fcdcba61-8d4e-41db-9c06-24a5238587f1.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FF Mark W05';
  src: url('./0f774eeb-e868-4bd6-9055-79542afd5208.eot?#iefix');
  src: url('./0f774eeb-e868-4bd6-9055-79542afd5208.eot?#iefix') format('eot'),
    url('./cdb13a7a-2f13-4f7c-b7a3-01b4ccef574d.woff2') format('woff2'),
    url('./40a8594b-08b2-4a38-97d9-958c95360b20.woff') format('woff'),
    url('./bcc8880e-b967-43ce-a210-d1404cbdc736.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FF Mark W05';
  src: url('./MarkPro-Bold.eot?#iefix');
  src: url('./MarkPro-Bold.eot?#iefix') format('eot'),
    url('./MarkPro-Bold.woff2') format('woff2'),
    url('./MarkPro-Bold.woff') format('woff'),
    url('./MarkPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
