.main-nav-wrapper {
  margin-top: 75px;
}

.main-nav {
  margin: 0 2%;

  @include media("<=desktop") {
    margin: 0;
  }
}

.main-nav-inner {
  position: relative;
  margin: 0 auto;
  max-width: 1400px;

  @include media("<=desktop") {
    border-width: 1px 0;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgb(193, 193, 193);
    border-bottom-color: rgb(193, 193, 193);
    border-image: initial;
    border-left-style: initial;
    border-left-color: initial;
    border-right-style: initial;
    border-right-color: initial;
  }
}

.canvas-wrapper {
  position: absolute;

  @include media("<=desktop") {
    display: none;
  }
}

.main-nav-canvas {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.main-nav-content {
  height: 50px;
  display: flex;

  @include media("<=desktop") {
    height: 35px;
  }
}

.search-container {
  min-width: 138px;

  @include media("<=desktop") {
    flex: 1 1 auto;
  }
}

.search-wrapper {
  position: relative;
  height: 100%;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  height: 100%;
  cursor: pointer;
}

.search::before {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: 0;
  width: 1px;
  background-color: rgb(193, 193, 193);
  transition: top 250ms ease 0s, bottom 250ms ease 0s;
}

.search-container:hover .search::before,
.search-is-focused::before {
  top: 0;
  bottom: 0;
}

.search-value {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  padding-left: 30px;
}

.search-value svg {
  width: 19px;
  height: 19px;
  position: absolute;
  left: 5px;
  top: -5px;
  transition: left 250ms ease 0s;
}

.search-value svg .st0 {
  fill: $sand;
}

.search-value svg .st1 {
  fill: none;
  stroke: $sand;
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}

.search-input {
  width: 0;
  cursor: pointer;
  border: none;
  padding: 0;
  font-size: 10px;
  letter-spacing: 0.1em;
  font-weight: 600;
  text-transform: uppercase;
}

.search-input-focused {
  min-width: 47px;
}

.search-value .search-input:focus {
  outline: none;
}

/* stylelint-disable no-descending-specificity */
.search-container:hover .search-value svg,
.search-icon-focused svg {
  left: 0;
}
/* stylelint-enable no-descending-specificity */

.search-placeholder {
  position: static;
  top: auto;
  color: black;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  transform: none;
  transition: color 250ms ease 0s;
  font-size: 10px;
  letter-spacing: 0.1em;
  font-weight: 600;
  text-transform: uppercase;
}

.search-placeholder-focused {
  position: absolute;
  color: rgb(202, 202, 202);
}

.search-indicator-clear {
  display: none;
  // display: flex;
  background-color: rgb(213, 213, 213);
  border-radius: 50%;
  transition: background-color 300ms ease 0s;
}

.search-indicator-clear:hover {
  background-color: rgb(178, 178, 178);
}

.search-svg {
  width: 11px;
  height: 11px;
  fill: #f9f9f9;
  stroke: #f9f9f9;
}

.search-dropdown-content {
  display: none;
  max-height: 300px;
  z-index: 1;
  position: absolute;
  top: 38px;
  right: 0;
  left: 0;
  background-color: #fff;
  border-right: 1px rgb(193, 193, 193) solid;
  border-left: 1px rgb(193, 193, 193) solid;
  border-bottom: 1px rgb(193, 193, 193) solid;
  overflow: scroll;
}

.search-dropdown-content-item {
  padding: 10px 30px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.1em;
  transition: background-color 300ms ease 0s;
  cursor: pointer;
}

.search-dropdown-content-item:hover {
  background-color: rgb(236 235 234 / 75%);
}

.search-dropdown-empty-content-item {
  position: relative;
  z-index: 1;
  pointer-events: none;
  display: none;
  padding: 10px 22px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: rgb(193, 193, 193);
  cursor: default;
}

.role-container {
  flex: 1 0 auto;

  @include media("<=desktop") {
    display: flex;
    align-items: center;
  }
}

.role-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  @include media("<=desktop") {
    display: none;
  }
}

.role-list li {
  height: 100%;
}

.role-list button {
  position: relative;
  display: block;
  height: 100%;
  background-color: transparent;
  padding: 0 10px;
  border: none;
  text-transform: uppercase;
  color: rgb(202, 202, 202);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.1em;
  transition: color 300ms ease 0s;
  cursor: pointer;
}

.role-list button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: $sand;
  transform: scale(0, 1);
  transition: transform 300ms ease 0s;
}

.role-list button:hover {
  color: $black;
}

.role-list button:hover::after {
  transform: scale(0.2, 1);
}

.role-list .role-active {
  color: $black;
}

.role-list .role-active::after {
  transform: scale(1, 1) !important;
}

.difficulty-container {
  min-width: 172px;
  position: relative;
  flex: 0 1 auto;
  display: flex;
  align-items: center;

  @include media("<=desktop") {
    flex: 1 1 auto;
  }
}

.difficulty-wrapper {
  position: relative;
  height: 100%;
}

.difficulty {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
  padding: 0 30px;
  background-color: transparent;
  justify-content: center;
}

.difficulty::before {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 0;
  width: 1px;
  background-color: rgb(193, 193, 193);
  transition: top 250ms ease 0s, bottom 250ms ease 0s;
}

.difficulty-container:hover .difficulty::before,
.difficulty-container:focus .difficulty::before,
.menu-is-open::before {
  top: 0;
  bottom: 0;
}

.difficulty-placeholder {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: $black;
  text-transform: uppercase;
}

.difficulty-single-value {
  display: none;
}

.difficulty-single-value-container {
  // position: relative;
  display: flex;
  // transform: none;
  max-width: 100%;
  margin-right: 5px;
}

.difficulty-value-wrapper {
  max-width: 100%;
  width: 100px;
  height: 10px;
  display: inline-block;
}

.difficulty-value-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 8% 0 5%;
  white-space: nowrap;
}

.difficulty-value-item {
  box-sizing: content-box;
  display: inline-block;
  width: 30.6667%;
  height: 100%;
  padding-right: 4%;
  opacity: 1;
  background-color: rgb(8, 215, 247);
  background-clip: content-box;
  transform: skewX(-40deg);
}

.difficulty-value-item:last-child {
  padding-right: 0;
}

.difficulty-value-item-empty {
  box-sizing: content-box;
  display: inline-block;
  width: 30.6667%;
  height: 100%;
  padding-right: 4%;
  opacity: 0.2;
  background-color: rgb(8, 215, 247);
  background-clip: content-box;
  transform: skewX(-40deg);
}

.difficulty-value-item-empty:last-child {
  padding-right: 0;
}

.difficulty-dropdown-content {
  display: none;
  position: absolute;
  top: 38px;
  z-index: 1;
  right: -1px;
  left: 0;
  background-color: #fff;
  border-right: 1px rgb(193, 193, 193) solid;
  border-left: 1px rgb(193, 193, 193) solid;
  border-bottom: 1px rgb(193, 193, 193) solid;
}

.difficulty-dropdown-content .difficulty-single-value-container {
  margin-right: 0;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: background-color 300ms ease 0s;
}

.difficulty-dropdown-content .difficulty-single-value-container:hover,
.difficulty-dropdown-content .difficulty-single-value-container:focus {
  background-color: rgba(221, 221, 221, 50%);
}

.difficulty-indicators {
  display: flex;
  align-items: center;
  height: 100%;
}

.difficulty-indicator-clear {
  display: none;
  // display: flex;
  background-color: rgb(213, 213, 213);
  border-radius: 50%;
  transform: translate(-6px, 0);
  transition: background-color 300ms ease 0s;
}

.difficulty-indicator-clear:hover {
  background-color: rgb(178, 178, 178);
}

/* stylelint-disable no-descending-specificity */
.difficulty-indicator-clear svg {
  width: 11px;
  height: 11px;
  fill: $white;
  stroke: $white;
}
/* stylelint-enable no-descending-specificity */

.difficulty-indicator-arrow {
  padding: 4px;
  transition: transform 250ms ease 0s;
}

.difficulty-container:hover .difficulty-indicator-arrow,
.difficulty-container:focus .difficulty-indicator-arrow,
.difficulty-indicator-arrow-open {
  transform: translate(5px, 0);
}

/* stylelint-disable no-descending-specificity */
.difficulty-indicator-arrow svg {
  width: 14px;
  height: 11px;
  color: $sand;
}

.difficulty-indicator-arrow-open svg {
  transform: rotate(180deg);
  color: rgb(178, 178, 178);
}
/* stylelint-enable no-descending-specificity */

.difficulty-indicator-arrow svg .st0 {
  fill: none;
  stroke: currentColor;
  stroke-miterlimit: 10;
}

.difficulty-indicator-arrow svg .st1 {
  fill: currentColor;
}
