.abilities {
  position: relative;
  padding: 75px 0 15rem;
}

.abilities-content-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.abilities-content-wrapper::after {
  display: block;
  content: "";
  width: 60px;
  flex: 0 0 auto;
}

.abilities-section-inner {
  position: relative;
  z-index: 1;
  // box-sizing: border-box;
  display: flex;
  max-width: 2040px;
  padding: 0 60px 0 0;
}

.abilities-selector-wrapper {
  flex: 2 1 120%;
  padding-top: 5.625rem;
}

.abilities-wrapper {
  width: 100%;
}

.abilities-wrapper-inner {
  position: relative;
  width: 100%;
  display: flex;
}

.abilities-side-fill {
  flex: 1 1 auto;
  position: relative;
}

.abilities-baseline {
  position: absolute;
  bottom: 16.5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(57, 64, 72);
}

.abilities-baseline.is-left-edge {
  left: auto;
  right: 0;
  width: 200%;
  min-width: 120px;
}

.abilities-option-list {
  position: relative;
  display: inline-flex;
}

.abilities-title {
  position: absolute;
  left: 15px;
  bottom: calc(100%);
  margin-top: 0;
  margin-bottom: 30px;
  color: rgb(255, 255, 255);
  letter-spacing: 0.05em;
  font-family: "Beaufort for LOL", serif;
  font-weight: 800;
  font-size: 3.75rem;
  font-style: italic;
  text-transform: uppercase;
}

.abilities-option {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  -webkit-box-align: stretch;
  align-items: stretch;
  padding: 12px;
  border: 0;
  background-color: transparent;
  color: rgb(57, 64, 72);
}

.abilities-option-icon {
  position: relative;
  display: block;
  width: 70px;
  height: 70px;
  margin: 0 auto 10px;
}

.abilities-option-icon-content {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 60px;
  height: 60px;
  transform: translateY(20px) scale(1, 1);
  will-change: transform;
  transform-origin: center bottom;
  transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.abilities-option-icon-content > * {
  width: 100%;
  height: 100%;
  fill: rgb(57, 64, 72);
  transition: fill 0.15s ease-in-out 0s;
}

.abilities-option:hover .abilities-option-icon-content {
  transform: translateY(15px) scale(1, 1);
}

.abilities-option.is-active .abilities-option-icon-content {
  transform: translateY(0) scale(1, 1);
}

.abilities-option-icon-border {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 200ms ease 0s;
}

.abilities-option.is-active .abilities-option-icon-border {
  opacity: 1;
}

.abilities-container-canvas {
  position: absolute;
  inset: 1px;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.abilities-image-canvas {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.abilities-option-line {
  display: block;
  width: 1px;
  height: 20px;
  margin: 0 auto;
  background-color: $sand;
  opacity: 0;
  transform: scaleY(0);
  will-change: transform;
  transform-origin: center bottom;
  transition-property: opacity, transform;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.abilities-option.is-active .abilities-option-line {
  opacity: 1;
  transform: scaleY(1);
  transition-duration: 400ms;
  transition-delay: 400ms;
}

.abilities-option-bullet-container {
  display: block;
  position: relative;
  width: calc(100% + 24px);
  margin-top: 5.5px;
  margin-left: -12px;
  z-index: 1;
}

.abilities-option-bullet-container::before,
.abilities-option-bullet-container::after {
  content: "";
  position: absolute;
  bottom: 4.5px;
  width: 50%;
  height: 1px;
  background-color: currentColor;
  z-index: -1;
  transition: width 0ms ease 0ms;
}

.abilities-option-bullet-container::before {
  left: 0;
}

.abilities-option-bullet-container::after {
  right: 0;
}

.abilities-option.is-active .abilities-option-bullet-container::before,
.abilities-option.is-active .abilities-option-bullet-container::after {
  width: calc(50% - 10px);
  transition: width 240ms ease 360ms;
}

.abilities-option-bullet {
  display: block;
  width: 9px;
  height: 9px;
  background-color: currentColor;
  border-radius: 50%;
  transition: color 300ms ease 0s;
  margin: 0 auto;
  opacity: 1;
}

.abilities-option:hover .abilities-option-bullet {
  transition: color 600ms ease 0s;
  color: $sand;
}

.abilities-option.is-active .abilities-option-bullet {
  opacity: 0;
}

.abilities-main-baseline {
  position: absolute;
  bottom: 16.5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: transparent;
}

.abilities-outer-circle {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  will-change: left;
  transition: left 600ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  border: 2px solid currentColor;
  border-radius: 100%;
  color: $sand;
  //js
  left: 10%;
}

.circle-bullet {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.abilities-ability-info {
  position: absolute;
  top: 100%;
  left: 2.8125rem;
  right: 0;
  color: rgb(255, 255, 255);
}

.abilities-ability-info-list {
  list-style: none;
  padding: 0;
  position: relative;
  margin: 1.875rem 0 0;
}

.abilities-ability-info-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.abilities-ability-info-item.is-active {
  pointer-events: auto;
  z-index: 1;
  opacity: 1;
  transition-duration: 1s;
  transition-delay: 0.2s;
}

.abilities-ability-info-item-type {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.625rem;
  line-height: 1;
  font-weight: normal;
  letter-spacing: 0.15em;
  color: rgb(126, 126, 126);
  text-transform: uppercase;
}

.abilities-ability-info-item-name {
  margin-top: 0.375rem;
  margin-bottom: 0;
  font-size: 1.125rem;
  line-height: 1.11111;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.abilities-ability-info-item-description {
  margin-top: 0.375rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  line-height: 1.4;
  letter-spacing: 0.05em;
}

.abilities-preview-wrapper {
  // box-sizing: border-box;
  width: 100%;
  flex: 1 1 100%;
  padding-top: 3.75rem;
}

.abilities-wrapper-inner-video {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.abilities-video-container {
  position: absolute;
  inset: 0;
}

.abilities-video-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1) 300ms;
}

.abilities-video-wrapper.is-active {
  z-index: 1;
  opacity: 1;
  transition-delay: 0ms;
}

.abilities-video {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}

.abilities-ability-video {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.abilities-video-container-canvas {
  position: absolute;
  inset: 1px;
  pointer-events: none;
  z-index: 1;
}

.abilities-video-canvas {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}
//
.abilities-background-icon {
  position: absolute;
  inset: -1px 0 0;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(0, 9, 19);
}

.abilities-background-icon svg {
  height: calc(100% - 30px);
  fill: rgb(7, 18, 26);
}
