/* stylelint-disable value-keyword-case */
// colors
$white: #f9f9f9;
$black: #111;
$gray: #292929;
$dark: rgba(128 128 128 / 30%);
$sand: rgb(208, 168, 92);
$lightBlue: rgba(65, 236, 228, 0.34);

// fonts
$font-header: "FF Mark W05", Arial, sans-serif;
$font-footer: "FF Mark W05", Arial, sans-serif;
$font-main: Spiegel, "Arial Narrow", Arial, sans-serif;
$font-headers: "Beaufort for LOL", serif;

// media query
$breakpoints: (
  // 320px main-head
  // 370px c-abilities
  // 450px main-head
  // 500px main-nav
  // 520px c-list
  // 599px main-head
  // 600px main-nav c-list main-head c-page
  // 640px footer c-list header
  // 750px c-list
  // 1000px main-nav
  desktop-main-nav: 1000px,
  desktop-default: 1024px,
  // 1200px overview skins
);
