// colors
$white: #f9f9f9;
$black: #111;
$gray: #292929;
$dark: rgb(128 128 128 / 30%);
$sand: rgb(208, 168, 92);
$lightBlue: rgba(65, 236, 228, 0.34);

// fonts
$main: arial;

// media query
$breakpoints: (
  // mobile: 520px,
  tablet: 750px,
  laptop: 930px,
  desktop: 1000px,
  large-desktop: 1440px
);
